body{ background-image: url(../image/top-oneline.gif); background-repeat: repeat-x; background-color: #e5e5e5; margin: auto;}/* to fix bug  23323 */

.container_center{min-width: 820px; _width: 1440px; min-height:460px; _height: 800px; position:absolute; top:97px; bottom:0; left: 20px; right: 20px; }

#top{_width: 1440px; min-width: 820px; height: 97px; position: absolute; left: 20px; right: 20px; }
#topframe{width: 100%; height: 97px; }

#middle{ width: 100%; min-height:455px; _height: 795px; position:absolute; top:5px; bottom:0px; left: 0; right: 0; }

#menu{ float: left; width: 195px; font-family: Arial; font-weight: Bold; font-size: 15px; text-align: left; position:absolute; }
#menu .advanced_black_button{margin-bottom: 5px;  width: 182px; height: 28px; background-image:url(../image/menu/advanced_menu_black.gif); background-repeat: no-repeat; color: #ffffff;cursor:pointer; overflow:hidden;}
#menu .advanced_black_button_double{margin-bottom: 5px;  width: 182px; height: 45px; background-image:url(../image/menu/advanced_menu_black_big.gif); background-repeat: no-repeat; color: #ffffff;cursor:pointer; overflow:hidden;}
#menu .advanced_black_button_triple{margin-bottom: 5px;  width: 182px; height: 60px; background-image:url(../image/menu/advanced_menu_black_trip.gif); background-repeat: no-repeat; color: #ffffff;cursor:pointer; overflow:hidden;}

.advanced_purple_button{margin-bottom: 5px;  width: 182px; height: 28px; background-image:url(../image/menu/advanced_menu_purple.gif); background-repeat: no-repeat; color: #ffffff;cursor:pointer; overflow:hidden;} 
.advanced_purple_button_double{margin-bottom: 5px;  width: 182px; height: 45px; background-image:url(../image/menu/advanced_menu_purple_big.gif); background-repeat: no-repeat; color: #ffffff;cursor:pointer; overflow:hidden;}
.advanced_purple_button_triple{margin-bottom: 5px;  width: 182px; height: 60px; background-image:url(../image/menu/advanced_menu_purple_trip.gif); background-repeat: no-repeat; color: #ffffff;cursor:pointer; overflow:hidden;}

.advanced_grey_button{margin-bottom: 5px;  width: 182px; height: 28px; background-image:url(../image/menu/advanced_menu_grey.gif); background-repeat: no-repeat; color: #808080;cursor:pointer;}
.advanced_grey_button_double{margin-bottom: 5px;  width: 182px; height: 45px; background-image:url(../image/menu/advanced_menu_grey_big.gif); background-repeat: no-repeat; color: #808080;cursor:pointer;}
.advanced_grey_button_triple{margin-bottom: 5px;  width: 182px; height: 60px; background-image:url(../image/menu/advanced_menu_grey_trip.gif); background-repeat: no-repeat; color: #808080;cursor:pointer;}

.advanced_black_button b, .advanced_purple_button b, .advanced_grey_button b { margin:0px; line-height:28px; }

.advanced_black_button_double b, .advanced_purple_button_double b, .advanced_grey_button_double b{margin:0px; line-height:23px; }
.advanced_black_button_triple b, .advanced_purple_button_triple b, .advanced_grey_button_triple b{margin:0px; line-height:19px; }

.advanced_black_button span, .advanced_purple_button span, .advanced_grey_button span { display:-moz-inline-box; display:inline-block; width:170px; margin:auto 5px; }
.advanced_black_button_double span, .advanced_purple_button_double span, .advanced_grey_button_double span{ display:-moz-inline-box; display:inline-block; width:150px; margin:auto 5px; }
.advanced_black_button_triple span, .advanced_purple_button_triple span, .advanced_grey_button_triple span{ display:-moz-inline-box; display:inline-block; width:150px; margin:auto 5px; }

.advanced_white_open_button{margin-bottom: 5px;  width: 185px; height: 28px; background-image:url(../image/menu/advanced_menu_white_open.gif); background-repeat: no-repeat; color: #4c4c4c;cursor:pointer; }
.advanced_white_open_button_double{margin-bottom: 5px;  width: 182px; height: 45px; background-image:url(../image/menu/advanced_menu_white_open_doub.gif); background-repeat: no-repeat; color: #4c4c4c;cursor:pointer; overflow:hidden;}

.advanced_white_close_button{margin-bottom: 5px;  width: 182px; height: 28px; background-image:url(../image/menu/advanced_menu_white_close.gif); background-repeat: no-repeat; color: #4c4c4c;cursor:pointer;}
.advanced_white_close_button_double{margin-bottom: 5px;  width: 182px; height: 45px; background-image:url(../image/menu/advanced_menu_white_close_doub.gif); background-repeat: no-repeat; color: #4c4c4c;cursor:pointer; overflow:hidden;}

.advanced_white_open_button b, .advanced_white_close_button b{line-height:28px; margin:0px;}
.advanced_white_open_button_double b, .advanced_white_close_button_double b{line-height:22px; margin:0px; }

.advanced_white_open_button span, .advanced_white_close_button span, .advanced_white_open_button_double span, .advanced_white_close_button_double span{ display:-moz-inline-box; display:inline-block; width:170px; margin:auto auto auto 20px; width:140px; }

.sub_men{ margin-left: 12px; width:170px; font-family: Arial; font-weight: normal; font-size: 12px; text-align: left; overflow:hidden;}
.sub_men span{text-decoration:underline}
.sub_men  .sub_back{ margin:5px 15px 5px 15px; height: auto; cursor:pointer;}
.sub_men  .sub_back a{line-height:14px;}
.sub_men  .sub_back_purple{ margin-top:5px; height: 26px; background: transparent url(../image/menu/advanced_sub_menu_purple_line.gif) left bottom no-repeat;cursor:pointer;}
.sub_men  .sub_back_purple a{ margin:0 15px 5px 15px; line-height:26px;}

.sub_men  .long_name{ margin:0 15px 5px 15px; height: auto; cursor:pointer;}
.sub_men  .long_name a{ line-height:13px;}
.sub_men  .sub_back_purple_double{ margin-top:5px; height: 42px; background: transparent url(../image/menu/advanced_sub_men_purple_big_line.gif) left bottom no-repeat;cursor:pointer; padding:0px 15px;}
.sub_men  .sub_back_purple_triple{ margin-top:5px; height: 60px; background: transparent url(../image/menu/advanced_sub_men_purple_trip.gif) left bottom no-repeat;cursor:pointer; padding:0px 15px; overflow:hidden;}
.sub_men  .sub_back_purple_double a { line-height:20px; }
.sub_men .sub_back_purple_triple a { line-height:20px; }
.sub_men  .sub_back a, .sub_men  .long_name a { color:  #4c4c4c;}
.sub_men  .sub_back_purple a, .sub_men  .sub_back_purple_double a, .sub_back_purple_triple a { color: #ffffff;}

.sub_men .sub_grey{margin-bottom:5px; height: 14px; cursor:pointer; color:#808080}
.sub_men .sub_grey a{position:relative; left: 15px; margin-right: 20px; padding-right: 20px;}
.sub_men .long_grey{ margin-bottom:5px; height: 26px; cursor:pointer; color:#808080}
.sub_men .long_grey a{position:relative; left: 15px; margin-right: 20px; padding-right: 20px;}

#formframe_div{float: left; min-width: 625px; _width: 1245px; min-height: 410px; _height: 707px; position:absolute; top:0; bottom:45px; left:200px; right: 0; }

.footer{ width: 100%; height: 43px; float: left; color: #ffffff; position:absolute; bottom:0;}
.footer_double{ width: 100%; height: 86px; color: #ffffff; position:absolute; bottom:0; }
.footer_img { width: 100%; height: 100%; }
.footer b, .footer_double b{font: bold 16px arial;}
.footer a, .footer_double a{ color: #ffffff; font: normal 11px arial; text-decoration: none;}

.footer #support{ float:left; line-height: 42px; position: absolute; left: 10px; top: 0; }
.footer_double #support{ line-height: 42px; position: absolute; left: 10px; top: 0;}
.footer #search{float: right; position: absolute; top: 10px; right: 10px;}
.footer_double #search{ float: right; position: absolute; bottom: 10px; right: 10px;}

#footer #search .search_button{background: Transparent url(../image/footer/search_button.gif ) no-repeat; border: none; width:39px; height:22px; font: bold 14px arial ; color: #ffffff; cursor: pointer; }
#footer #search .search_button_middle{background: Transparent url(../image/footer/search_button_middle.gif ) no-repeat; border: none; width:65px; height:22px; font: bold 14px arial ; color: #ffffff; cursor: pointer; }
#footer #search .search_button_long{background: Transparent url(../image/footer/search_button_long.gif ) no-repeat; border: none; width:95px; height:22px; font: bold 14px arial ; color: #ffffff; cursor: pointer; }

