body{ background-image: url(../image/top-oneline.gif); background-repeat: repeat-x; background-color: #e5e5e5; margin:auto; }/* to fix bug  23323 */

.container_center{_width: 1440px; min-width: 820px; min-height:460px; _height: 800px; position:absolute; top:97px; bottom:0; left: 20px; right: 20px; }
#top{_width: 1440px; min-width: 820px; height: 97px; position: absolute; left: 20px; right: 20px; }
#topframe{width: 100%; height: 97px; }

#middle{ width: 100%; min-height:455px; _height: 795px; position:absolute; top:5px; bottom:0px; left: 0; right: 0; }

#menu{ float: left; width: 195px; font-family: Arial; font-weight: Bold; font-size: 15px; text-align: left; position:absolute; top:0; bottom:45px;}

#menu .basic_button{margin-bottom: 5px;  width: 190px; height: 29px; background-image:url(../image/menu/basic_menu_white.gif); background-repeat: no-repeat; color: #4e4e4e;cursor:pointer; overflow:hidden;}
#menu .basic_button_big{margin-bottom: 5px;  width: 190px; height: 46px; padding-left:5px; padding-top:5px; background-image:url(../image/menu/basic_menu_white_big.gif); background-repeat: no-repeat; color: #4e4e4e;cursor:pointer;}
#menu .basic_button_big_grey{margin-bottom: 5px;  width: 190px; height: 46px; padding-left:5px; padding-top:5px; background-image:url(../image/menu/basic_menu_grey_big.gif); background-repeat: no-repeat; color: #4e4e4e;cursor:pointer;}
#menu .basic_button_purple{margin-bottom: 5px;  width: 190px; height: 29px; background-image:url(../image/menu/basic_menu_purple.gif); background-repeat: no-repeat; color: #ffffff;}
#menu .basic_button_big_purple{margin-bottom: 5px;  width: 190px; height: 46px; padding-left:5px; padding-top:5px; background-image:url(../image/menu/baisc_menu_white_big_purple.gif); background-repeat: no-repeat; color: #ffffff;}
#menu .basic_button_grey{margin-bottom: 5px;  width: 190px; height: 29px; background-image:url(../image/menu/basic_menu_grey.gif); background-repeat: no-repeat; color: #808080;}

#menu .basic_button span,  #menu .basic_button_purple span, #menu .basic_button_big span, #menu .basic_button_big_purple span, #menu .basic_button_big_grey span{ display:-moz-inline-box; display:inline-block; width:160px; }
#menu .basic_button b, #menu .basic_button_purple b, #menu .basic_button_grey b{margin:auto 5px; line-height:28px;}
#menu .basic_button_big b, #menu .basic_button_big_purple b ,  #menu .basic_button_big_grey b{margin:auto; line-height:22px; width:10px;}

#formframe_div{float: left; min-width: 625px; _width: 1245px; min-height: 410px; _height: 707px; position:absolute; top:0; bottom:45px; left:200px; right: 0; }

.footer{ width: 100%; height: 43px; float: left; color: #ffffff; position:absolute; bottom:0; }
.footer_double{ width: 100%; height: 86px; color: #ffffff; position:absolute; bottom:0; }
.footer_img { width: 100%; height: 100%; }
.footer b, .footer_double b{font: bold 16px arial;}
.footer a, .footer_double a{ color: #ffffff; font: normal 11px arial; text-decoration: none;}

.footer #support{ float:left; line-height: 42px; position: absolute; left: 10px; top: 0; }
.footer_double #support{ line-height: 42px; position: absolute; left: 10px; top: 0;}
.footer #search{ float: right; position: absolute; top: 10px; right: 10px;}
.footer_double #search{ float: right; position: absolute; bottom: 10px; right: 10px;}

#footer #search .search_button{background: Transparent url(../image/footer/search_button.gif ) no-repeat; border: none; width:39px; height:22px; font: bold 14px arial ; color: #ffffff; cursor: pointer; }
#footer #search .search_button_middle{background: Transparent url(../image/footer/search_button_middle.gif ) no-repeat; border: none; width:65px; height:22px; font: bold 14px arial ; color: #ffffff; cursor: pointer; }
#footer #search .search_button_long{background: Transparent url(../image/footer/search_button_long.gif ) no-repeat; border: none; width:95px; height:22px; font: bold 14px arial ; color: #ffffff; cursor: pointer; }

