P {
	LIST-STYLE-POSITION: outside; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; BACKGROUND: white; COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}
BODY {
	FONT-SIZE: 12px; MARGIN: 6px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}
A {
	BACKGROUND: white; COLOR: black; TEXT-DECORATION: none
}
.thead {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: white; COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif; TEXT-ALIGN: center
}
.ttext {
	FONT-SIZE: 12px;BACKGROUND: white; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif; TEXT-ALIGN: center
}
.subhead {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: white; COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}

.num 
{
	color: black; font: normal 10pt "Courier New",Courier,serif;
}	

form.compressed {  margin-top: -15px; }



/* QS */
BODY.QS {
	background-image:url(wbg.gif); background-repeat:repeat-x; background-color:#FFFFFF;
}

TD.tl {
	background: url(tl.gif) no-repeat;
	height: 20px;
	width: 20px;
}

TD.tr {
	background: url(tr.gif) no-repeat;
	height: 20px;
	width: 20px;
}

TD.bl {
	background: url(bl.gif) no-repeat;
	height: 20px;
	width: 20px;
}

TD.br {
	background: url(br.gif) no-repeat;
	height: 20px;
	width: 20px;
}

TD.nt {
	background-image: url(n.gif);
	background-repeat: repeat-x;
	width: 590px;
	background-position: top;
	background-color: White;
}

TD.nb {
	background-image: url(n.gif);
	background-repeat: repeat-x;
	width: 590px;
	background-position: bottom;
	background-color: White;
}

TD.nl {
	background-image: url(n.gif);
	background-repeat: repeat-y;
	background-position: left;
	background-color: White;
}

TD.nm {
	background-color: White;
}


TD.nr {
	background-image: url(n.gif);
	background-repeat: repeat-y;
	background-position: right;
	background-color: White;
}

.mncs {
	position:absolute; top:18px; left:141px; width:620px; height:390px;
}

td.mntt {
	font-family:Arial, Helvetica, sans-serif; font-size:34px; font-weight:400; padding-left:20px; height:35px;
}

td.mntc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-left: 20px;
	line-height: 20px;
	vertical-align: top;
}

td.mnbc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding-left: 20px;
	line-height: 20px;
	font-weight: bold;
}

td.mnbc2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

td.mnbc3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}


td.mnsc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-left: 20px;
	line-height: 20px;
}

td.mnsc2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

td.mnsc3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}


.bb_on
{
	border-style: none;
	background: transparent;
	background-image: url(bb_on.gif);
	background-repeat: no-repeat;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	height: 36px;
	width: 129px;
	cursor: pointer;
}

.bb_off
{
	border-style: none;
	background: transparent;
	background-image: url(bb_off.gif);
	background-repeat: no-repeat;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	height: 36px;
	width: 129px;
	cursor: pointer;
}

#c_bb
{ position:absolute; left:489px; top:355px; width:129px; height:36px; }

.mn_input {
	width: 180px;
	border-color: #000000;
	height: 20px;
	background-color: #CCCCCC;
}

.bb_rr
{
	border-style: none;
	background: transparent;
	background-image: url(rr.gif);
	background-repeat: no-repeat;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	height: 83px;
	width: 83px;
	cursor: pointer;
}

.bb_yy
{
	border-style: none;
	background: transparent;
	background-image: url(yy.gif);
	background-repeat: no-repeat;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	height: 83px;
	width: 83px;
	cursor: pointer;
}

.bb_gg
{
	border-style: none;
	background: transparent;
	background-image: url(gg.gif);
	background-repeat: no-repeat;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	height: 83px;
	width: 83px;
	cursor: pointer;
}

.bb_ee
{
	border-style: none;
	background: transparent;
	background-image: url(ee.gif);
	background-repeat: no-repeat;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	height: 83px;
	width: 83px;
	cursor: pointer;
}

/* Grey Board */
TD.tls {
	background: url(tls.gif) no-repeat;
	height: 20px;
	width: 20px;
}

TD.trs {
	background: url(trs.gif) no-repeat;
	height: 20px;
	width: 20px;
}

TD.bls {
	background: url(bls.gif) no-repeat;
	height: 20px;
	width: 20px;
}

TD.brs {
	background: url(brs.gif) no-repeat;
	height: 20px;
	width: 20px;
}

TD.nts {
	background-image: url(n.gif);
	background-repeat: repeat-x;
	width: 420px;
	background-position: top;
	background-color: #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
}

TD.nbs {
	background-image: url(n.gif);
	background-repeat: repeat-x;
	width: 420px;
	background-position: bottom;
	background-color: #CCCCCC;
}

TD.nls {
	background-image: url(n.gif);
	background-repeat: repeat-y;
	background-position: left;
	background-color: #CCCCCC;
}

TD.nrs {
	background-image: url(n.gif);
	background-repeat: repeat-y;
	background-position: right;
	background-color: #CCCCCC;
}

.mncss {
	position:absolute; top:118px; left:295px; width:459px; height:288px;
}

span.mnscs {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 400;
}

table.NormalTable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none;
	BORDER-BOTTOM: medium none; BORDER-COLLAPSE: collapse
}

td.leftstyle {
    BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 1pt solid;
	PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 1pt solid; WIDTH: 50%;
	PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 1pt solid
}
td.rightstyle {
    BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 1pt solid;
	PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: medium none; WIDTH: 50%;
	PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 1pt solid
}



td.hlc
{
	width:50%; height:20px;
}
td.hrc
{
	text-align:left; height:20px;
}

th.LL
{
	FONT-WEIGHT:bold; FONT-SIZE:12px; COLOR:#09c;
	BACKGROUND: white;
	text-align:center;
	white-space:nowrap;
}

th.usbLL
{
	FONT-WEIGHT:bold; FONT-SIZE:12px; COLOR:#09c;
	BACKGROUND: transparent;
	text-align:left;
	white-space:nowrap;
}


a.cnA:link, a.cnA:visited {
	font-size: 12px;
	font-weight: bold;
	color: #0033FF;
	text-decoration:underline;
}

a.cnA:hover{
	color: #0066FF;
	text-decoration:none;
}
